body {
  text-align: center;
  width: 100%;
  height: 100%;

}

/*put both canavs in the canvas which will need position relative order for its child elements to be*/
.container {
  margin: 50px auto;
  position: relative;
  width: 47%;
  height: 384px;


}

canvas {
  background:lightgrey;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

}

#brightness{

    background:white;
    opacity:0;
    z-index: 1;
    cursor: pointer;

}

#slider{
    width:40%;

}

@media(max-width:750px) {
    .container {
    margin: 50px auto;
    width: 100%;


    }
    canvas {
    width: 100%;
    height: auto;
   }
}
